*{
 margin: 0;
 padding: 0;
}

body {
 text-align: center;
 padding-top: 250px;
 background: #00aaff;
}

input[type=text], input[type=password]{
 padding: 10px;
 border: 1px solid #999;
 outline: none;
 color: #888;
 margin-right: 5px;
 box-shadow: inset 0px 0px 5px #999;
 text-align: center;
}

input[type=text]:focus, input[type=password]:focus{
 border: 1px solid #00aaff;
 box-shadow: inset 0px 0px 5px #00aaff;
}

input[type=submit]{
 padding: 5px 10px;
 margin-top: 10px;
 font-weight: 700;
 background: #2b0000;
 border: 1px solid #2b0000;
 color: #fff;
 box-shadow: 0px 0px 2px #2b0000;
}

input[type=submit]:hover {
 background: #0088ff;
 border: 1px solid #0088ff;
 box-shadow: 0px 0px 2px #0088ff;
}